[Unit]
Description=Mk48 Server

[Service]
Type=simple
User=ec2-user
Group=ec2-user
Restart=always
RestartSec=3
ExecStart=/home/ec2-user/mk48-server

[Install]
WantedBy=multi-user.target
